.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 600px; 
    margin: auto;
}

.card-body {
    padding: 20px;
}

.info-table {
    width: 100%;
    border-collapse: collapse;
}

.info-table th, .info-table td {
    text-align: left;
    padding: 8px;
}

.info-table th {
    background-color: #007bff;
    color: white;
}

.info-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.info-table td {
    border-bottom: 1px solid #ddd;
}

.info-table tr:hover {
    background-color: #ddd;
}

.info-table input[type="email"], .info-table button {
    margin-top: 5px;
    padding: 5px;
    font-size: 14px;
    width: 300px;
}

.info-table button {
    background-color: #fff; 
    color: #000;
    border: 2px solid #fff; 
    padding: 5px 10px; 
    font-size: 14px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: border-color 0.3s; 
}

.info-table button:hover {
    border-color: #8d599f; 
}

@media (max-width: 600px) { /* Adjust the breakpoint as needed */
    .info-table input[type="email"] {
        width: 95%; /* Increased width for smaller screens */
    }
}





